<!DOCTYPE html>
<!--
* Tabler - Premium and Open Source dashboard template with responsive and high quality UI.
* @version 1.0.0-beta20
* @link https://tabler.io
* Copyright 2018-2023 The Tabler Authors
* Copyright 2018-2023 codecalm.net Paweł Kuna
* Licensed under MIT (https://github.com/tabler/tabler/blob/master/LICENSE)
-->
<html lang="en">
  <%- include('pages/header') %>
  <body>
    <div class="page">
      <!-- Navbar -->
      <%- include('pages/navbar) %>
      <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <h2 class="page-title">Extension List</h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="row row-cards">
              <div class="col-lg-12">
                <div class="card">
                  <div class="table-responsive">
                    <table
                      id="domain-table"
                      class="table table-vcenter card-table table-bordered table-nowrap"
                    >
                      <thead>
                        <tr>
                          <td class="w-33">
                            <h2><b id="domainCount">0</b>Domain Extensions</h2>
                            Compare the prices of every domain extension from
                            <b><%=companyCount%></b> registrars
                          </td>
                          <td
                            class="w-auto text-center text-uppercase text-muted font-weight-medium"
                          >
                            Registration
                          </td>
                          <td
                            class="w-auto text-center text-uppercase text-muted font-weight-medium"
                          >
                            Renewal
                          </td>
                          <td
                            class="w-auto text-center text-uppercase text-muted font-weight-medium"
                          >
                            Transfer
                          </td>
                          <td
                            class="w-auto text-center text-uppercase text-muted font-weight-medium"
                          ></td>
                        </tr>
                        <tr>
                          <th></th>
                          <th colspan="4">
                            ~ = Converted to USD
                            <div style="float: right">
                              Last Update Date: <%=lastUpdateDate%>
                            </div>
                          </th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%- include('pages/footer) %>
      </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="/javascripts/tabler.min.js?1692870487" defer></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
